[Unit]
Description=pipeReader Application Service
After=syslog.target network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/bin/bash -c '/usr/local/bin/node /opt2/sees/aibc_demo/nodejs/server.js'
WorkingDirectory=/opt2/sees/aibc_demo
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
